.comments {
    background-color: var(--secondary-background-color);
    border: none;
}

.comments__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comments__title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color);
}